<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_UserHome.css') }}">
</head>
<body>

    <div class="container">
        <!-- Back to Home -->
        <a href="{{ url_for('main.home') }}">back to home</a>

        <div class="welcome-message">
            <h1>Hello, <span id="username">Admin</span>!</h1>
        </div>
        <div class="button-section">
            <a href="{{url_for('main.view_all_applicants')}}" class="btn">
                <button class="btn">View All Applicants</button>
            </a>
            <!-- Add additional buttons here if needed -->
        </div>
        
        <!-- Search Form -->
        <div class="search-section">
            <form action="{{ url_for('main.admin_home') }}" method="GET">
                <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Application Status</th>
                        <th>Interview Status</th>
                        <th>Application</th>
                        <th>Offer Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in applicants %}
                        <tr>
                            <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
                            <td>{{ applicant.application_status }}</td>
                            <td>{{ applicant.interview_status }}</td>
                            <td><a href="{{ url_for('main.view_application', student_id=applicant.student_id) }}">View Application</a></td>
                            <td><a href="{{ url_for('main.assess_applicant', student_id=applicant.student_id) }}">{{ applicant.assessment_status }}</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No applicants found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script_UserHome.js') }}">
    </script>
</body>
</html>
